$blue: #5DBCD2;
$white: #FFF;

div#dentyHome {
	div#homeDescription {
		margin-bottom: 15px;
    padding: 0;
    background-color: $white;

    > div {
    	> div.page-header {
	    	padding-top: 25px;
		    padding-bottom: 30px;
		    margin: 0;
		    background: $blue;
		    color: $white;

		    h1 {
		    	font-weight: bold;
		    }
    	}

    	> div.row {
    		padding: 15px;
    		margin: 0;

    		> div {
					text-align: center;
					font-size: 18px;
    		}
    	}
    }
	}
}

div#dentyServices {
	div#servicesBody {
		div.tab-content {
			div[ng-bind-html] {
				ul {
					margin-left: -20px;
				}
			}
		}
	}
}

div#dentyGallery {
	div#galleryBody {
		> div.row {
			text-align: center;

			> div[ng-repeat] {
				display: inline-block;
				float: none;
			}
		}
	}
}

div#dentyContact {
	div#contactBody {
		div.contact-panel {
			border-color: $blue;

			div.contact-icon {
				i.fa {
					color: $blue;
				}
			}
		}
	}
}