<div class="container">
  <div class="row">
    <div ng-if="$root.configs.has_address" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="row">
        <div class="col-xs-12">
          <a href="#">Sitemap</a>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-12">
          <address>
            {{$root.configs.contact_address}}<br>
            {{$root.configs.contact_phone}}
            {{($root.configs.contact_phone && $root.configs.contact_email) ? ' | ' : ''}}
            {{$root.configs.contact_email}}
          </address>
        </div>
      </div>
    </div>
    <div ng-class="{ 'col-xs-12': true, 'col-sm-12': !$root.configs.has_address, 'col-md-6': !$root.configs.has_address, 'col-lg-12': !$root.configs.has_address, 'col-sm-6': $root.configs.has_address, 'col-md-6': $root.configs.has_address, 'col-lg-6': $root.configs.has_address }">
      <div ng-if="!$root.configs.has_address" class="row">
        <div class="col-xs-12">
          <a href="#">Sitemap</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          Powered by Denty
        </div>
      </div>
    </div>
  </div>
</div>