<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <!-- footer navs (always visible) -->
      <div id="navigation-footer-links" ng-class="{ 'col-xs-10': $root.configs.has_social, 'col-sm-10': $root.configs.has_social, 'col-md-8': $root.configs.contact_phone, 'col-lg-8': $root.configs.contact_phone, 'col-xs-12': !$root.configs.has_social, 'col-sm-12': !$root.configs.has_social, 'col-md-12': !$root.configs.contact_phone, 'col-lg-12': !$root.configs.contact_phone }">
        <a ng-if="$root.configs.has_blog" ui-sref="denty.blog">{{ $root.configs.blog_override || 'Blog' }}</a>
	<span ng-if="$root.configs.has_blog && ($root.configs.has_map || $root.configs.has_contact || $root.configs.has_financing)">|</span>
        <a ng-if="$root.configs.has_map" ui-sref="denty.map">{{ $root.configs.map_override || 'Map' }}</a>
        <span ng-if="$root.configs.has_map && ($root.configs.has_contact || $root.configs.has_financing)">|</span>
        <a ng-if="$root.configs.has_contact" ui-sref="denty.contact">{{ $root.configs.contact_override || 'Contact Us' }}</a>
	<span ng-if="$root.configs.has_contact && $root.configs.has_financing">|</span>
        <a ng-if="$root.configs.has_financing" ui-sref="denty.financing">{{ $root.configs.financing_override || 'Financing' }}</a>
      </div>

      <!-- footer social (visible mobile) -->
      <div ng-if="$root.configs.has_social" class="col-xs-2 visible-xs visible-sm">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropup">
            <a id="nav-social-toggle" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-2x fa-share-alt"></i></a>
            <ul class="dropdown-menu">
              <li ng-if="$root.configs.socials.facebook"><a ng-href="{{$root.configs.socials.facebook | trustUrl}}" target="_blank"><i class="fa fa-2x fa-facebook"></i></a></li>
              <li ng-if="$root.configs.socials.twitter"><a ng-href="{{$root.configs.socials.twitter | trustUrl}}" target="_blank"><i class="fa fa-2x fa-twitter"></i></a></li>
              <li ng-if="$root.configs.socials.google_plus"><a ng-href="{{$root.configs.socials.google_plus | trustUrl}}" target="_blank"><i class="fa fa-2x fa-google-plus"></i></a></li>
              <li ng-if="$root.configs.socials.instagram"><a ng-href="{{$root.configs.socials.instagram | trustUrl}}" target="_blank"><i class="fa fa-2x fa-instagram"></i></a></li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- footer contact (invisible mobile) -->
      <div ng-if="$root.configs.contact_phone" id="footer-telephone" class="col-md-4 col-lg-4 hidden-xs hidden-sm">
        <span><a ng-href="tel:{{$root.configs.contact_phone}}"><i class="fa fa-phone"></i> {{$root.configs.contact_phone}}</a></span>
      </div>
    </div>
  </div>
</nav>