<div id="dentyContact" ng-show="contactLoaded">
	<!-- header -->
	<page-header ng-if="has_header" id="contactHeader" title="{{$root.configs.contact_override || 'Contact Us'}}" image_name="{{image_name}}" image_source="{{image_source}}"></page-header>

	<!-- title & description -->
	<page-title-description ng-if="(has_title || has_description)" id="contactTitleDescription" title="{{title}}" description="{{description}}"></page-title-description>

	<!-- body -->
	<div id="contactBody" class="container page-body">
				
		<!-- contact pannels -->
		<div ng-if="show_email || show_phone || show_hours" class="row">
			<!-- email -->
			<div ng-if="show_email" ng-class="{ 'col-xs-12': true, 'col-sm-12': !show_hours && !show_phone, 'col-sm-6': show_hours || show_phone, 'col-sm-4': show_hours && show_phone, 'col-md-12': !show_hours && !show_phone, 'col-md-6': show_hours || show_phone, 'col-md-4': show_hours && show_phone, 'col-lg-12': !show_hours && !show_phone, 'col-lg-6': show_hours || show_phone, 'col-lg-4': show_hours && show_phone }">
				<div class="panel panel-default contact-panel">
				  <div class="panel-body">
				  	<div class="contact-icon"><i class="fa fa-2x fa-inbox"></i></div>
				  	<div class="contact-text">
				  		<a ng-href="mailto:{{$root.configs.contact_email}}">{{$root.configs.contact_email}}</a>
				  	</div>
				  </div>
				</div>
			</div>

			<!-- phone -->
			<div ng-if="show_phone" ng-class="{ 'col-xs-12': true, 'col-sm-12': !show_email && !show_hours, 'col-sm-6': show_email || show_hours, 'col-sm-4': show_email && show_hours, 'col-md-12': !show_email && !show_hours, 'col-md-6': show_email || show_hours, 'col-md-4': show_email && show_hours, 'col-lg-12': !show_email && !show_hours, 'col-lg-6': show_email || show_hours, 'col-lg-4': show_email && show_hours }">
				<div class="panel panel-default contact-panel">
				  <div class="panel-body">
				  	<div class="contact-icon"><i class="fa fa-2x fa-phone"></i></div>
				  	<div class="contact-text">
				  		<a ng-href="tel:{{$root.configs.contact_phone}}">{{$root.configs.contact_phone}}</a>
				  	</div>
				  </div>
				</div>
			</div>

			<!-- hours -->
			<div ng-if="show_hours" ng-class="{ 'col-xs-12': true, 'col-sm-12': !show_email && !show_phone, 'col-sm-6': show_email || show_phone, 'col-sm-4': show_email && show_phone, 'col-md-12': !show_email && !show_phone, 'col-md-6': show_email || show_phone, 'col-md-4': show_email && show_phone, 'col-lg-12': !show_email && !show_phone, 'col-lg-6': show_email || show_phone, 'col-lg-4': show_email && show_phone }">
				<div class="panel panel-default contact-panel">
				  <div class="panel-body">
				  	<div class="contact-icon"><i class="fa fa-2x fa-clock-o"></i></div>
				  </div>
				</div>
			</div>
		</div>

		<!-- google map -->
		<div ng-if="map_url" class="row">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe width="600" height="450" frameborder="0" style="border:0" ng-src="{{map_url | trustResource }}" allowfullscreen></iframe>	
			</div>
		</div>

		<!-- contact form -->
		<div ng-if="show_form" class="row">
			<!-- todo -->
		</div>

	</div>
</div>