<div id="dentyHome" ng-show="homeLoaded">
	<!-- jumbo carousel -->
	<div ng-if="has_carousel && carousel.length > 0" id="homeCarousel" class="carousel slide" data-ride="carousel">
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">

	  	<!-- slide -->
	    <div ng-repeat="slide in carousel" ng-class="{active: $index==0}" class="item">
	      <img ng-src="{{ (slide.image_source | trustResource) || 'img/' + $root.configs.domain + '/carousel_' + $index + '.jpeg' }}" alt="{{slide.image_name}}">
	      <div class="carousel-caption">
	        {{slide.caption}}
	      </div>
	    </div>

	  </div>
	</div>

	<!-- descriptions -->
	<div ng-if="has_description && descriptions.length > 0" id="homeDescription" class="container-fluid">
		
		<!-- description -->
		<div ng-repeat="description in descriptions">
			<div class="page-header">
			  <h1>{{description.header}}</h1>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" ng-bind-html="description.description | trustHtml"></div>
			</div>
		</div>

	</div>

	<!-- highlights -->
	<div ng-if="has_highlights && highlights.length > 0" id="homeHighlights" class="container">
		<div class="row">
			
			<!-- highlight -->
			<div ng-repeat="highlight in highlights" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="row">
					<div class="highlight-image col-xs-4 col-sm-12 col-md-12 col-lg-12">
						<img class="img-responsive" ng-src="{{ (highlight.image_source | trustResource) || 'img/' + $root.configs.domain + '/highlight_' + $index + '.jpeg' }}" alt="{{highlight.image_name}}">
					</div>
					<div class="highlight-body col-xs-8 col-sm-12 col-md-12 col-lg-12">
						<h4>{{highlight.header}}</h4>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-bind-html="highlight.description | trustHtml"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- promotions -->
	<div ng-if="has_promotions && promotions.length > 0" id="homePromotion" class="container-fluid">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

				<!-- promotion -->
				<div ng-repeat="promotion in promotions" class="media">
				  <div id="promotionImage" class="media-left">
				    <img class="media-object img-responsive" ng-src="{{ (promotion.image_source | trustResource) || 'img/' + $root.configs.domain + '/' + (promotions_from_offers ? 'offer_' : 'promotion_') + $index + '.jpeg' }}" alt="{{promotion.image_name}}"> 
				  </div>
				  <div id="promotionBody" class="media-body media-middle">
				    <h3 class="media-heading">{{promotion.header}}</h3>
				    <span ng-if="promotion.price">
					    <span class="currency-symbol">$</span><span class="currency-amount">{{promotion.price | currency:"":0}}</span>
					    <br/>
				    </span>
				    <a ng-if="$root.configs.has_offers" ui-sref="denty.offers">Learn More <i class="fa fa-caret-right"></i></a>
				  </div>
				</div>

			</div>
		</div>
	</div>

	<!-- thumbs -->
	<div ng-if="has_thumbnails && thumbnails.length > 0" id="homeThumbs" class="container">
		<div class="row">
			
			<!-- thumb -->
			<div ng-repeat="thumbnail in thumbnails" class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
				<img class="img-thumbnail img-responsive" ng-src="{{ (thumbnail.image_source | trustResource) || 'img/' + $root.configs.domain + '/' + (thumbnails_from_gallery ? 'gallery_' : 'thumbnail_') + $index + '.jpeg' }}" alt="{{thumbnail.image_name}}"> 
			</div>

		</div>
	</div>
</div>