<div id="dentyRewards" ng-show="rewardsLoaded">
	<!-- header -->
	<page-header ng-if="has_header" id="rewardsHeader" title="{{$root.configs.rewards_override || 'About'}}" has_image="has_image" image_name="{{image_name}}" image_source="{{image_source}}"></page-header>

	<!-- title & description -->
	<page-title-description ng-if="(has_title || has_description)" id="rewardsTitleDescription" title="{{title}}" description="{{description}}"></page-title-description>

	<!-- body -->
	<div ng-if="rewards.length > 0" id="rewardsBody" class="container page-body">
				
		<!-- rewards -->
		

		</div>

	</div>
</div>