<div id="dentyServices" ng-show="servicesLoaded">
	<!-- header -->
	<page-header ng-if="has_header" id="servicesHeader" title="{{$root.configs.services_override || 'About'}}" image_name="{{image_name}}" image_source="{{image_source}}"></page-header>

	<!-- title & description -->
	<page-title-description ng-if="(has_title || has_description)" id="servicesTitleDescription" title="{{title}}" description="{{description}}"></page-title-description>

	<!-- body -->
	<div ng-if="services.length > 0" id="servicesBody" class="container page-body">
				
		<!-- services -->
		

		</div>

	</div>
</div>