<div id="dentyTestimonials" ng-show="testimonialsLoaded">
	<!-- header -->
	<page-header ng-if="has_header" id="testimonialsHeader" title="{{$root.configs.testimonials_override || 'About'}}" image_name="{{image_name}}" image_source="{{image_source}}"></page-header>

	<!-- title & description -->
	<page-title-description ng-if="(has_title || has_description)" id="testimonialsTitleDescription" title="{{title}}" description="{{description}}"></page-title-description>

	<!-- body -->
	<div ng-if="testimonials.length > 0" id="testimonialsBody" class="container page-body">
				
		<!-- testimonials -->
		

		</div>

	</div>
</div>