//=================
// import variables
//=================
@import 'variables';

div#dentyHome {
	
	/* carousel container */
	div#homeCarousel {
		div.item img {
			width: 100%;
		}
	}

	/* description container */
	div#homeDescription {
		padding: 50px 15px;
		background-color: $light-background;
		
		div.page-header {
			text-align: center;
			text-transform: uppercase;
			padding-bottom: 0;
			border-bottom: 0;
		}
	}

	/* highlights container */
	div#homeHighlights {
		padding: 30px 15px;

		div.highlight-image {
			img {
				margin: auto;
			}
		}
		
		div.highlight-body {
			text-align: center;
		}

		@media (min-width: 768px){
			div.highlight-body {
				padding: 0 45px;
			}	
		}
	}

	/* promotion container */
	div#homePromotion {
		margin: 30px 0;
		@include full-bg-image('section');
		
		div#promotionImage,
		div#promotionBody {
			width: 10000px;
		}
		
		div#promotionImage {
			img {
				width: 100%;
			}

			@media (max-width: 425px){
				width: 100%;
				display: block;
				text-align:center;
			}
		} 

		div#promotionBody {
			padding: 15px 0;
			text-align: center;

			h3.media-heading {
				font-size: 36px;
			}

			span.currency-symbol {
		    vertical-align: top;
		    font-size: 3em;
		    line-height: 2em;
			}

			span.currency-amount {
				font-size: 5em;
			}

			a {
				color: black;
		    text-transform: uppercase;
		    font-weight: bold;
		    font-size: small;

		    &:hover {
		    	text-decoration: none;
		    }
			}
		}
	}

	/* thumbnails container */
	div#homeThumbs {
		margin: 30px auto;
		padding: 30px 15px;

		img.img-thumbnail {
			margin-bottom: 15px;
		}
	}
}




