//=================
// import variables
//=================
@import 'variables';

div#dentyOffers {
	
	/* offers container */
	div#offersBody {
		div.media {
			margin-top: 50px;
			padding: 10px 0;
			border-bottom: 1px solid $primary-color;

			&:first-child {
				margin-top: 0;
			}

			div#offerImage,
			div#offerBody {
				width: 10000px
			}

			div#offerImage {
				img {
					width: 100%;
				}

				@media (max-width: 425px){
					width: 100%;
					display: block;
					text-align:center;
				}
			}

			div#offerBody {
				text-align: left;
				
				h3.media-heading {
					font-size: 24px;
				}

				div.media-description {
					font-size: 12px;
					color: $dark-text;
				}

				a.offer-btn {
					color: #FFF;
					background-color: $primary-color;
					text-align: center;
					padding: 10px 25px;
					margin: 5px 0;

			    &:hover {
			    	text-decoration: none;
			    	cursor: pointer;
			    }
				}
			}
		}
	}

}