/* import variables */
@import 'variables';

div#dentyOffers {
	
	/* offers container */
	div#offersBody {
		div.media {
			margin-top: 50px;
			padding: 10px 0;
			border-bottom: 1px solid $primary-color;

			&:first-child {
				margin-top: 0;
			}

			div#offerImage,
			div#offerBody {
				width: 10000px
			}

			div#offerImage {
				img {
					width: 100%;
				}
			}

			div#offerBody {
				text-align: left;
				
				h3.media-heading {
					font-size: 24px;
				}

				div.media-description {
					font-size: 12px;
					color: $dark-text;
				}
			}
		}
	}

}