//=================
// import variables
//=================
@import 'variables';

body {
	font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
}

.font-sm {
	font-size: smaller;
}

.font-lg {
	font-size: larger;
}